export TF_VAR_concourse_role_id=$(cd ../terraform-vault-remix/ && terraform output -raw concourse_role_id)
export TF_VAR_concourse_secret_id=$(cd ../terraform-vault-remix/ && terraform output -raw concourse_secret_id)